In [1]:
import pandas as pd
import numpy as np

In [2]:
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False  # minus 표시
plt.rc('font', family='Malgun Gothic')

In [3]:
file_path = './resources/완_기간별_ordered_180101_to_230509_ver3.csv'
mv_2018 = pd.read_csv(file_path)
print(mv_2018.columns)
mv_2018.head()

Index(['순위', '영화명', '개봉일', '대표국적', '국적', '제작사', '배급사', '등급', '장르', '감독', '배우',
       '기준일', '매출액', '누적매출액', '관객수', '누적관객수', '스크린수', '상영횟수', '기준연도', '기준월',
       '개봉연도', '개봉월'],
      dtype='object')

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,...,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,기준연도,기준월,개봉연도,개봉월
0,1,신과함께-죄와 벌,2017-12-20,한국,한국,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",롯데쇼핑㈜롯데엔터테인먼트,12세이상관람가,"판타지,드라마",김용화,...,7715149100,76065645532,916652,9456147,1644,7957,2018,1,2017,12
1,2,1987,2017-12-27,한국,한국,(주)우정필름,(주)씨제이이엔엠,15세이상관람가,드라마,장준환,...,4460462100,19714466137,531469,2473546,1097,4982,2018,1,2017,12
2,4,강철비,2017-12-14,한국,한국,"(주)와이웍스엔터테인먼트,(주)브이에이스튜디오",(주)넥스트엔터테인먼트월드(NEW),15세이상관람가,"액션,드라마",양우석,...,944228600,32939126166,114298,4128591,602,1451,2018,1,2017,12
3,5,위대한 쇼맨,2017-12-20,미국,미국,NaN,"월트디즈니컴퍼니코리아 유한책임회사,이십세기폭스코리아(주)",12세이상관람가,"드라마,뮤지컬",마이클 그레이시,...,509947700,7166974900,60070,874655,432,843,2018,1,2017,12
4,7,극장판 포켓몬스터 너로 정했다!,2017-12-21,일본,일본,NaN,(주)이수C&E,전체관람가,"애니메이션,어드벤처,가족",유야마 쿠니히코,...,262886500,3380416200,34103,449358,417,605,2018,1,2017,12

In [5]:
mv_2018.isnull().sum()

순위           0
영화명          0
개봉일          0
대표국적         0
국적           0
제작사      98953
배급사         68
등급           2
장르          89
감독       10513
배우       22352
기준일          0
매출액          0
누적매출액        0
관객수          0
누적관객수        0
스크린수         0
상영횟수         0
기준연도         0
기준월          0
개봉연도         0
개봉월          0
dtype: int64

In [7]:
mv_2018_ver4 = mv_2018.dropna(subset=['배급사', '등급', '장르']) 
mv_2018_ver4.isnull().sum()

순위           0
영화명          0
개봉일          0
대표국적         0
국적           0
제작사      98892
배급사          0
등급           0
장르           0
감독       10496
배우       22277
기준일          0
매출액          0
누적매출액        0
관객수          0
누적관객수        0
스크린수         0
상영횟수         0
기준연도         0
기준월          0
개봉연도         0
개봉월          0
dtype: int64

In [8]:
mv_2018_ver4['기준일'] = pd.to_datetime(mv_2018_ver4['기준일'],format='%Y-%m-%d')
mv_2018_ver4['개봉일'] = pd.to_datetime(mv_2018_ver4['개봉일'],format='%Y-%m-%d')

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_16444\634341299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mv_2018_ver4['기준일'] = pd.to_datetime(mv_2018_ver4['기준일'],format='%Y-%m-%d')
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_16444\634341299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mv_2018_ver4['개봉일'] = pd.to_datetime(mv_2018_ver4['개봉일'],format='%Y-%m-%d')

In [9]:
type(mv_2018_ver4['개봉일'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [10]:
mv_2018_ver4.to_csv('./resources/완_기간별_dropna_180101_to_230509_ver4.csv', index=False)

In [11]:
mv_2018_ver4.to_excel('./resources/완_기간별_dropna_180101_to_230509_ver4.xlsx', index=False)