In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.alert import Alert

In [121]:
df = pd.read_excel('./reviewdata/KOBIS_역대_박스오피스(통합전산망_집계_기준)_2023-05-10.xlsx', engine='openpyxl', header=4)
df

,순위,영화명,개봉일,매출액,관객수,스크린수,상영횟수,대표국적,국적,배급사
0,1,명량,2014-07-30,135758658810,17615919,1587,188726,한국,한국,(주)씨제이이엔엠
1,2,극한직업,2019-01-23,139655543516,16266338,2003,292816,한국,한국,(주)씨제이이엔엠
2,3,신과함께-죄와 벌,2017-12-20,115727528087,14414658,1912,214631,한국,한국,롯데쇼핑㈜롯데엔터테인먼트
3,4,국제시장,2014-12-17,110947621230,14264478,1044,212705,한국,한국,(주)씨제이이엔엠
4,5,어벤져스: 엔드게임,2019-04-24,122492181020,13977602,2835,246433,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
...,...,...,...,...,...,...,...,...,...,...
196,197,비긴 어게인,2014-08-13,27433947031,3479444,525,87565,미국,미국,판씨네마(주)
197,198,태풍,2005-12-14,22209675300,3471150,481,47155,한국,한국,CJ ENM
198,199,킹콩,2005-12-14,21476688172,3470059,319,38456,미국,미국,UIP코리아
199,200,부러진 화살,2012-01-18,25938096000,3460212,530,71607,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
200,합계,NaN,NaT,10100853711525,1277060574,1277060574,230907,NaN,NaN,NaN

In [122]:
df.drop([200], axis=0, inplace=True)

In [123]:
mlist = df['영화명']
mlist

0               명량
1             극한직업
2        신과함께-죄와 벌
3             국제시장
4       어벤져스: 엔드게임
          ...
195    해리 포터와 불의 잔
196         비긴 어게인
197             태풍
198             킹콩
199         부러진 화살
Name: 영화명, Length: 200, dtype: object

In [124]:
mlist[5]

'겨울왕국 2'

In [125]:
base_url = 'https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query='
driver = webdriver.Chrome()
driver.get(base_url)

In [130]:
sup_url = f'{mlist[1]}+평점'
url = base_url + sup_url
driver.get(url)
req = requests.get(url)
soup = BeautifulSoup(req.text, 'html.parser')

In [57]:
# driver.find_element(By.XPATH, '//*[@id="nx_query"]').click()
# time.sleep(1)

# webdriver.ActionChains(driver).key_down(Keys.CONTROL).send_keys("a").perform()
# time.sleep(1)


# driver.find_element(By.XPATH, '//*[@id="nx_query"]').send_keys(f'{mlist[0]} 평점' + Keys.ENTER)
# time.sleep(1)

# 평점

In [131]:
# 전체 평점
tot_score = float(soup.select('.area_star_number')[0].get_text())
tot_score

9.2

In [132]:
# 남자 평점
man_score = float(soup.select('.area_star_number')[1].get_text())
man_score

9.16

In [133]:
# 여자 평점
girl_score = float(soup.select('.area_star_number')[2].get_text())
girl_score

9.24

# 나이별 만족도

In [134]:
# 10대 만족도
age10 = soup.select('.area_graph_age > li')[0].select('.area_text_age')[0].get_text()
age10_score = float(soup.select('.area_graph_age > li')[0].select('.this_text_num')[0].get_text())
print(age10, age10_score)

10대 9.43

In [135]:
# 20대 만족도
age20 = soup.select('.area_graph_age > li')[1].select('.area_text_age')[0].get_text()
age20_score = float(soup.select('.area_graph_age > li')[1].select('.this_text_num')[0].get_text())
print(age20, age20_score)

20대 9.32

In [136]:
# 30대 만족도
age30 = soup.select('.area_graph_age > li')[2].select('.area_text_age')[0].get_text()
age30_score = float(soup.select('.area_graph_age > li')[2].select('.this_text_num')[0].get_text())
print(age30, age30_score)

30대 9.22

In [137]:
# 40대 만족도
age40 = soup.select('.area_graph_age > li')[3].select('.area_text_age')[0].get_text()
age40_score = float(soup.select('.area_graph_age > li')[3].select('.this_text_num')[0].get_text())
print(age40, age40_score)

40대 9.09

In [138]:
# 50대 만족도
age50 = soup.select('.area_graph_age > li')[4].select('.area_text_age')[0].get_text()
age50_score = float(soup.select('.area_graph_age > li')[4].select('.this_text_num')[0].get_text())
print(age50, age50_score)

50대 8.82